{% extends "base.html" %}
{% block content %}
<table border="1" style="width:100%">
  <tr>
	<th> ID </th>
	<th> Name</th>
	<th> Age </th>
	<th> Mark</th>
  </tr>      
  
  
  {% for row in rows %}
  <tr>
	{% for ro in row %}
     <td>{{ ro }}</td>
	{% endfor %}
  </tr> 
   {% endfor %}
 
 </table>
<form action=" " method="post">
 <dl>
  <dt>DELETE NAME:
	<dd><input type=text name=delete>
        <dd><input type=submit name=delete value=delete>
  <dt>SEARCH NAME:
        <dd><input type=text name=search>
	<dd><input type=submit name=search value=search>
 </dl>
</form>
{% endblock %}
